body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color:#333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
  }

.site-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
      text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.button {
    font: inherit;
    font-weight: 700;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
}

.button.open-search-button,
.button.book-button {
    background-color: #766357;
}

.button.open-search-button {
    padding-bottom: 30px;
    padding-top: 30px;

    display: block;
    width: 568px;

    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 21px;
    line-height: 26px;
}

.button.open-search-button:hover,
.button.open-search-button:focus,
.button.book-button:hover,
.button.book-button:focus {
    background-color: #604e43;
}

.button.open-search-button:active,
.button.book-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.button.button-calendar,
.button.button-minus,
.button.button-plus  {
    font-size: 0;
}

.button.button-calendar {
    position: absolute;
    right: 3px;
    top: 6px;
    background: none;
}

.button.button-calendar path {
    fill: #cacaca;
    outline: none;
}

.button.button-calendar:hover path,
.button.button-calendar:focus path {
    fill: #000000;
    outline: none;
}

.button.button-calendar:active path {
    fill:#81b3d2;
    outline: none;
}

.button.button-minus,
.button.button-plus  {
    position: relative;
    width: 38px;
    height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f2f2f2;
}

.button.button-minus::before {
    content: "";
    position: absolute;

    top: 19px ;
    left: 13px ;

    width: 12px;
    height: 3px;

    border-top: 3px solid #bdbbbc;
}

.button.button-plus::before {
    content: "";
    position: absolute;

    top: 19px ;
    left: 13px ;

    width: 12px;
    height: 3px;

    border-top: 3px solid #bdbbbc;
}

.button.button-plus::after {
    content: "";
    position: absolute;

    top: 15px ;
    left: 14px ;

    width: 3px;
    height: 12px;

    border-right: 3px solid #bdbbbc;
}

.button.button-minus:hover::before,
.button.button-minus:focus::before {
    border-top: 3px solid #000000;
}

.button.button-minus:active::before {
    border-top: 3px solid #81b3d2;
}

.button.button-plus:hover::before,
.button.button-plus:focus::before {
    border-top: 3px solid #000000;
}

.button.button-plus:hover::after,
.button.button-plus:focus::after {
    border-right: 3px solid #000000;
}

.button.button-plus:active::before {
    border-top: 3px solid #81b3d2;
}

.button.button-plus:active::after {
    border-right: 3px solid #81b3d2;
}

.button.search-button,
.button.info-button {
    background-color: #81b3d2;
}

.button.search-button {
    padding-top: 16px;
    padding-bottom: 16px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    margin-top: 55px;
    width: 100%;

    font-size: 21px;
    line-height: 26px;
}

.button.info-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.button.search-button:hover,
.button.info-button:hover,
.button.search-button:focus,
.button.info-button:focus  {
    background-color: #669ec0;;
}

.button.search-button:active,
.button.info-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.social-button {
    font-size: 0;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active svg{
  opacity: 0.3;
}

.main-navigation {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
  }

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation li {
    width: 239px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.site-navigation li:nth-child(2) {
    margin-right: 239px;
}

.site-navigation a {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 239px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 72px;
    padding-left: 68px;

    color: #000000;
}

.site-navigation-item:nth-child(3) > a,
.site-navigation-item:nth-child(4) > a {
  text-align: right;
}

.site-navigation-item:nth-child(2) > a {
margin-left: 4px;
}

.site-navigation-item:nth-child(4) > a {
  margin-left: 5px;
  }

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 529px;
    z-index: 2;
}

.sedona-description {
    background-color: #ffffff;
}

.welcome-wrapper {
    position: relative;
    padding-top: 76px;
    padding-bottom: 75px;

    text-align: center;

    background-image: url(../img/background-photo.jpg);
    background-position: 0 -82px;
    background-repeat: no-repeat;
    background-color: #766357;
}

.welcome-wrapper::after {
    content: " ";
    position: absolute;
    bottom: -2px;
    left: -1px;

    width: 1202px;
    height: 59px;

    background-image: url(../img/polygon.svg);
}

.sedona-description h1 {
    width: 440px;
    margin: 0 auto 34px;
    padding: 0;
    padding-top: 60px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.features {
    margin-bottom: 50px;
}

.features .feature-text{
    width: 489px;
    margin: 0 auto 56px;
    padding: 0;

    font-size: 14px;
    line-height: 14px;
    color: #333333;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    list-style: none;

    background-color: #eeeeee;
}

.features-list-item {
    min-height: 256px;

    text-align: center;
}

.features-list .advice-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    list-style: none;
}

.advice-list-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 400px;
    width: 400px;
    min-height: 332px;

    text-align: center;
}

.features-list-item h3,
.advice-list-item h4 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.advice-list-item h4 {
    position: relative;
    margin-top: 163px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}

.advice-list-item h4::before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;

}

.accomodation h4::before {
  top: -100px;
  left: 163px;
   width: 72px;
  height: 75px;
  background-image: url(../img/advice-icon-1.svg);
}

.food h4::before {
    top: -100px;
    left: 163px;
    width: 74px;
    height: 70px;
    background-image: url(../img/advice-icon-2.svg);
}

.souvenirs h4::before {
    top: -104px;
    left: 168px;
    width: 64px;
    height: 76px;
    background-image: url(../img/advice-icon-3.svg);
}

.features-list p,
.features-list span {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.advice-list-item p {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    text-align: center;
}

.features-list-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}

.features-list-item:first-child,
.features-list-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    text-align: center;
    background-color: #81b3d2;
}

.features-list-item:not(:first-child) h3,
.features-list-item:not(:nth-child(2)) h3 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.features-list-item:first-child h3 {
    margin-top: 50px;
}

.features-number {
    display: block;
    margin-bottom: 30px;
}

.features-list-item:not(:first-child) p,
.features-list-item:not(:nth-child(2)) p {
    width: 280px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.feature-description {
    width: 400px;
}

.feature-description p,
.feature-description  span,
.feature-description h3 {
    color: #ffffff;
}

.advice-list {
    margin: 0;
    padding: 0;

    background-color: #ffffff;
}

li.features-list-item:nth-child(n+3) {
    width: 400px;
}

.search {
    position: relative;
}

.search-words {
    width: 434px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0;

    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.search .search-info {
    width: 440px;
    margin: 0 auto 46px;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.modal {
    display: none;
    position: absolute;
    left: 316px;
    width: 568px;
    height: 395px;
    padding: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    background-color: #ffffff;

    -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

            box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-show {
    display: block;
}

.modal-search p {
    margin: 0;
    padding: 0;
}

.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.quantity-form-item {
  display: flex;
  justify-content: space-between;
}

.quantity-form-item:first-of-type {
  width: 226px;
}

.quantity-form-item:nth-of-type(2) {
  width: 179px;

}

.search-form-item label {
    display: inline-block;
    margin-top: 7px;
    vertical-align: middle;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-form input {
    font: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

p.search-form-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 27px;
}

.search-form input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.search-form input:focus {
    background-color: transparent;
    border: 2px solid #e5e5e5;
    outline: none;
}

.input-dates {
    width: 346px;
    padding: 6px 40px 5px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
}

.quantity-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1px;
}

.quantity-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 114px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

label[for="adults-quantity"] {
  width: 71px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  padding-top: 7px;
}

label[for="children-quantity"] {
  width: 38px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  padding-top: 7px;
}

.quantity-form-wrapper input[type="text"] {
width: 38px;
height: 38px;
text-align: center;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.location {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 473px;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 36px;
    padding-left: 132px;
    padding-right: 101px;
    padding-bottom: 36px;
    color: #000000;

    background-color: #ffffff;
  }

.main-footer .sedona-hashtag {
    margin: 0;
    margin-top: 10px;
    padding: 0;

    font-size:  21px;
    line-height: 26px;
    font-weight: 700;
}

.main-footer .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 23px;

    list-style: none;
}

.footer-social li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6px;
}

.social-button {
    width: 46px;
    height: 48px;
    padding-top: 13px;
    text-align: center;
    background-color: #81b3d2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.social-button svg {
    text-align: center;
    vertical-align: middle;
    fill: #ffffff;
}

.social-button svg:hover,
.social-button svg:focus {
    fill: #ffffff;
}

.social-button svg:active {
    fill: #81b3d2;
}

.main-footer .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 5px;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
}

.footer-copyright > b {
    margin-right: 8px;
    margin-top: 6px;
}

.footer-copyright svg {
    fill: #231f20;
}

.footer-copyright-logo:hover svg,
.footer-copyright-logo:focus svg {
    fill: #81b3d2;
}

.footer-copyright-logo:active svg {
    fill: #bdbbbc;
}


.inner-page {
    color: #333333;
    background-color: #ffffff;
}

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:focus,
.site-navigation .current:active {
    color: #766357;
}

.filters {
    position: relative;
    padding: 28px 60px 0px 71px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 7px;
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-position: 0 -295px;
    background-repeat: no-repeat;
    background-size: cover;
}

.filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.fieldset-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.filters-form fieldset{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;

    border: none;
}

.filters-form fieldset:not(:first-child) {
    margin-left: 76px;
}

.filters-form legend{
    margin: 0;
    padding: 0;

    font-size:  16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff ;

}

.filters-form  ul {
    width: 140px;
    margin: 0;
    margin-top: 25px;
    margin-left: 40px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    list-style: none;

    font-size:  14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff ;
}

.filter-option {
    margin-bottom: 25px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -40px;

    width: 20px;
    height: 20px;

    border: 2px solid #ffffff;
    border-radius: 2px;
}


.filter-input-checkbox:disabled + label::before {
    border: 2px solid #6a6a6a;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -40px;

    width: 26px;
    height: 23px;

    border: none;
    background-image: url(../img/checkbox-on.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled + label::before {
    background-image: url(../img/checkbox-on-disabled.png);
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  outline: 3px solid #81b3d2;
}

.filter-button {
    position: absolute;
    right: 168px;
    top: 150px;
    display: block;
    width: 135px;
    min-height: 34px;
    font-size:  14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff ;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    color: #000000;

    background-color: #ffffff;
}

.filter-range {
    width: 330px;

    color: #ffffff;
    text-transform: uppercase;
  }

  .filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  .price-controls {
    position: relative;

    height: 34px;
    width: 314px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
  }

  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
  }

  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 66px;
    margin-top: -2px;
  }

  .price-controls .max-price {
    padding-left: 56px;
  }

  .price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
  }

  .range-controls {
    position: relative;

    margin-bottom: 32px;
  }

  .range-controls .scale {
    height: 2px;
    width: 318px;

    background: rgba(255, 255, 255, 0.3);
  }

  .range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
  }

  .range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }

  .range-toggle:hover {
    background: #1c4f80;
    transform: scale(1.1,1.1);
  }

  .range-toggle-min {
    left: 0;
  }

  .range-toggle-max {
    left: 77%;
  }

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 72px;
    border-bottom: 1px solid #f2f2f2;

    background-color: #ffffff;
}

.sorting-result {
    margin: 0;
    margin-right: 49px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size:  21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000 ;
}

.sorting h2 {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size:  12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000 ;
}

.sorting-type-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 238px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-left: 41px;
    margin-top: 6px;
    padding: 0;

    list-style: none;

    font-size:  12px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-type-list a {
    font-size:  12px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);

    text-decoration: underline;
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.3);
            text-decoration-color: rgba(0, 0, 0, 0.3);
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
}

.current-sorting a,
.current-sorting a:hover,
.current-sorting a:focus {
    color: #81b3d2;

    text-decoration: none;
}

.sorting-type-list a:hover,
.sorting-type-list a:focus {
    color: #81b3d2;
    -webkit-text-decoration-color: #81b3d2;
            text-decoration-color: #81b3d2;
}

.sorting-type-list a:active {
    color: #000000;
    text-decoration: none;
}

.sorting-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 34px;
    margin-left: auto;
    margin-top: 9px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sort-arrow {
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-right-width: 5px;
    border-left-width: 5px;
}

.sort-arrow-up {
    border-bottom-color: #cacaca ;
    border-top: 0;
}

.sort-arrow-up:hover,
.sort-arrow-up:focus {
    border-bottom-color: #231f20 ;
    outline: 2px solid #81b3d2;
}

.sort-arrow-up:active {
    border-bottom-color: #81b3d2 ;
    outline: 2px solid #81b3d2;
}

.sort-arrow-down {
    border-top-color: #81b3d2;
    border-bottom: 0;
}

.sort-arrow-down:hover,
.sort-arrow-down:focus {
    border-top-color: #231f20;
    outline: 2px solid #81b3d2;
}

.sort-arrow-down:active {
    border-top-color:  #81b3d2;
    outline: 2px solid #81b3d2;
}

.hotels-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
}

.hotel-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 72px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
}

.hotel-list-item img {
    margin-right: 30px;
}

.hotel-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.hotel-description h3,
.hotel-description p {
    margin: 0;
    padding: 0;
}

.hotel-description h3 {
    margin: 0;
    margin-top: -5px;
    padding: 0;

    font-size:  21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.price-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 182px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.button-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.book-button,
.info-button {
    display: block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    padding: 3px 17px;

    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    border: none;
  }

.info-button {
    width: 110px;
    margin-right: 6px;
}

.book-button {
    width: 142px;
}

.hotel-name>a {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size:  21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000 ;
}

.hotel-name>a:hover,
.hotel-name>a:focus {
    color: #81b3d2;
}

.hotel-name>a:active {
    color: rgba(0, 0, 0, 0.3);
}

.type-of-hotel,
.price {
    margin-top: -5px;
    font-size:  14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333 ;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
}

.rating ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 0;
    list-style: none;
}

.rating-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 47px;
}

.rating-stars li {
    position: relative;
    width: 18px;
    margin-left: 5px;
}

.rating-stars li::before {
    content: "";

  position: absolute;

  width: 18px;
  height: 17px;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.rating-score {
    display: block;
    width: 112px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 3px 13px 3px 16px;
    font-size:  14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666 ;
    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @-webkit-keyframes move {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }

    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  @keyframes move {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }

    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  .modal-show {
      -webkit-animation-name: move;
              animation-name: move;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;

  }

  input[name="children-quantity"] {
    width: 38px;
    height: 38px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }

    .features-list-item:nth-child(2) p {
      width: 320px;
    }

    .advice-list-item.food p {
      width: 290px;
    }
